html {font-size: 62.5%;}

* {
  margin:  0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font: inherit;
  vertical-align: baseline;
}

/* BOOTSTRAP OVERRIDES */
/* BOOTSTRAP OVERRIDES */
.card a {
  border: 0px solid white !important;
}

a:hover {
  text-decoration: none;
  border: none;
}

.row {
  padding: 0;
}

/*BOOTSTRAP CARD OVERRIDES*/
.card{
  border: none;
  margin-right: 2em;
  margin-bottom: 2em;
  -webkit-box-shadow: 1px 1px 6px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    1px 1px 6px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         1px 1px 6px 0px rgba(50, 50, 50, 0.15);
}

.card:hover{
  -webkit-box-shadow: 2px 2px 15px 0px rgba(50, 50, 50, 0.2);
  -moz-box-shadow:    2px 2px 15px 0px rgba(50, 50, 50, 0.2);
  box-shadow:         2px 2px 15px 0px rgba(50, 50, 50, 0.2);
  border-bottom: 0px;
}
 
.card-title {
  font-size: 2em;
  line-height: 1.2;
  padding-bottom: .2em;
}

.card-subtitle {
  font-size: 1.3em;
  font-weight: 300;
}

.card-text {
  font-size: 1.3em;
  color: #333;
}


/* Normal Stuff*/
.clearfix::after {
  content: ""; 
  display: block;
  clear: both;
  }

h1, h2, h3, h4, h5, h6, p, li {
  font-family: 'Lato', sans-serif;
  color: #444;
}

h2 {
  font-size: 2.2em;
  margin-top: 2em;
  line-height: 2;
}

h3 {
  font-size: 1.8em;
  margin-top: 1.8em;
  line-height: 2;
}
p, li{
  font-size: 1.7em;
  line-height: 2;
}

::selection {
  background-color: red;
  color: #ffffff;
  } 



/* HEADER BAR */
/* HEADER BAR */

.header {
  width: 100%;
  height: 5em;
  display: block;
  background-color: #FFFFFF;
  -webkit-box-shadow: 1px 1px 1px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    1px 1px 1px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         1px 1px 1px 0px rgba(50, 50, 50, 0.15);
}

.innerHeader {
  width: 90%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.logoContainer {
  height: 100%;
  display:  table;
  float: left;
}

.logoContainer h1 {
  color: #222;
  height: 100%;
  display: table-cell;
  vertical-align: middle;
}

.logoContainer h1:hover {
  color: #999; 
}

.headerBarButtons {
  float: right;
  height: 100%;
}

.headerBarButtons a {
  display: table;
  float: left;
  height: 100%;
  padding: 0px .8em;
}

.headerBarButtons a:visited {
  color: #222;
}

.headerBarButtons a:hover {
  color: #999;
}

.headerBarButtons a li{
  display: table-cell;
  vertical-align: middle;
}

/* FOOTER */
/* FOOTER */

footer {
  background-color: #F5F5F5;
  color: #737373;
  width: 100%;
  padding: 1em 0;
}

.innerFooter {
  width: 80%;
  margin-left:  auto;
  margin-right: auto;
}

footer h3{
  margin-top: 1em;
  font-weight: 900;
  font-size: 1.5em;
}

.footerNavTab {
  margin-bottom: 2em;
}

/* .footerBlock {
  background-color: orange;
  border: 1px black solid;
} */

.footerNavTab-btn {
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  margin-left: -1em;
}

.footerNavTab-btn:hover {
  border-radius: .75em;
  -webkit-box-shadow: 1px 1px 15px 0px rgba(50, 50, 50, 0.10);
  -moz-box-shadow:    1px 1px 15px 0px rgba(50, 50, 50, 0.10);
  box-shadow:         1px 1px 15px 0px rgba(50, 50, 50, 0.10);
}

.footerNavTab-btn:active {
  border-radius: .75em;
  
  transform: rotate(1deg);
  -webkit-box-shadow: 1px 1px 15px 0px rgba(50, 50, 50, 0.10);
  -moz-box-shadow:    1px 1px 15px 0px rgba(50, 50, 50, 0.10);
  box-shadow:         1px 1px 15px 0px rgba(50, 50, 50, 0.10);
}

.footerCopyrightText{
  font-size: 1.2em;
  color: #aaa;
}

.fabFooter {
  margin-right: 1em;
}

/* BODY ELEMENTS */
/* BODY ELEMENTS */

.imgFullBleed-Header img{
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.bodyText {
display: block;
width: 85%;
margin-left:  auto;
margin-right: auto;
padding: 2em 0 2em 0;
}

.bodyText p, h2{
  margin-bottom: .5em;
}

.bodyText-a:visited{
  color: #222;
}

.bodyText-a{
  color: #222;
  border-bottom: solid #999 2px;
}

.bodyText-a:hover{
  border-bottom: solid #222 4px;
  color: black;
}

.bulletList li{
  list-style-type: circle;
  margin-left: 2em;
  line-height: 1.5em;
}

.quoteBlock {
  background-color: #eee;
  font-size: 1.4em;
  color: #222;
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 2em;
  padding-bottom: 2em;
}
#quoteText {
  text-align: center;
  margin-left: auto;
  margin-right:  auto;
}

.marginImage {
  width: 80%;
  margin-left: auto;
  margin-right:  auto;
}

.innerMarginImage {
  width: 100%;
  max-width: 500px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

/* FORMS */
/* FORMS */

.form {
  font-family: 'Lato', sans-serif;
  position: relative; /*need this so we can mess with the position of our label*/
  width: 100%;
  margin: 2.5em 0 1.5em 0;
}

.form input {
  height: 3em;
}

.form textarea {
  padding: 1em;
}

.form input, .form textarea {
  width: 100%;
  border: none;
  outline: none;
  background-color:#fff;
  border-radius: 1.5em;
  color:#222;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.15);
}

.form label {
  position: absolute; /*this is why we added 'relative' to the form*/
  bottom: 0px;
  left: 0px;
  margin-left: 1em;
  height: 100%;
  width: 100%;
  pointer-events: none; /*makes it to where it doesn't block the click*/
  color:  #222;
}

.form label::after {
  content: ""; /*this just has to be there. Add something in the quotes and it will show*/
  position: absolute;
  height: 100%;
  width: 100%;
}

.contentName { /*This is just the text of the label. Enables us to move it independently*/
  position: absolute;
  bottom: .6em;
  left: .25em;
  transition: all 0.5s ease;
}

.form input:focus + .labelName .contentName,
.form input:valid + .labelName .contentName{
  /*We're able to use the '+' sign because in the html the 'contentName' is BELOW the 'form'*/
  transform: translateY(-4em);
  font-weight: 900;
  font-size: .6em;
  margin-left: -1.5em;
  color: #222;
}

.form input:focus,
.form input:valid {
  height: 2em;
  background-color: white;
  border-radius:  6px;
  padding-left: 1em;
  font-size: 1.1em;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    2px 2px 7px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         2px 2px 7px 0px rgba(50, 50, 50, 0.3);
}

.textBox {
}

.socialBlock {
  display: table;
  width: 100%;
}

.socialIcons {
  display: table-cell;
  float: left;
  height: 3em;
  width: 3em;
  text-align: center;
  padding: .5em 1em 1em 1em;
  border-radius: 1.75em;
  border: 1px  solid #222;
  margin: 1em 1em 1em 0;
}

.socialIcons:hover{
  border: 1px  solid #fff;
  -webkit-box-shadow: 2px 2px 7px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    2px 2px 7px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         2px 2px 7px 0px rgba(50, 50, 50, 0.3);
}


/* SPLASH PAGE (MOBILE) */
.leftDoor {
  float: left;
  width: 60%;
  height: 80em;
}

#nameLockup {
  position: fixed;
  width: 50%;
  left: 5%;
  bottom: 25%;

}

#nameLockup h1 {
  font-size: 2.5em;
}


.splashSubText {
  font-size: 1.2em;
}

#splashMenuLockup {
  position: fixed;
  bottom: 10%;
  right: 15%;
}

#splashNav li {
  padding: .5em  2em .5em 2em;
  color: #222;
  font-size: 1.75em;
  font-weight: 900;
}

#splashNav li:hover {
  color: #666;
  border-left: solid 8px #D93A26;
}

#secretButton{
  position: fixed;
  background-color: white;
  height: 40px;
  width: 80px;
  top: 100px;
}

/* HOMEWORK MARKER  */
/* This can be deleted after the assignment gets graded - its 
just there to help  point out where the HW assignment for week 1 is located. */
#homeworkButton {
  animation: pulse 3s infinite;
}

@keyframes pulse {
  0% {
    color: #222;
  }
  50% {
    color: #D93A26;
    -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.3);
    box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.3);

  }

  100% {
    color: #222;
  }
}

/* PROJECT BOX */
/* PROJECT BOX */
.projectSection {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: auto;

}

.projectBox {
  height: 270px;
  width: 200px;
  margin: .4em;
  float: left;
  background-color: white;
  border-radius: 6px;
  -webkit-box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.3);
  -moz-box-shadow:    1px 1px 5px 0px rgba(50, 50, 50, 0.3);
  box-shadow:         1px 1px 5px 0px rgba(50, 50, 50, 0.3);
  
}

.projectBox:hover {
  -webkit-box-shadow: 3px 3px 9px 0px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    3px 3px 9px 0px rgba(50, 50, 50, 0.15);
  box-shadow:         3px 3px 9px 0px rgba(50, 50, 50, 0.15);
  
}

.projectBoxImage {
  background-color: #ddd;
  height: 60%;
  width: 100%;
  border-radius:  6px 6px 0 0;
}

.projectBoxDescription {
  height: 40%;
  width: 100%;
  padding: .5em .5em .5em .5em;
}

.projectBoxDescription p{
  font-size: .8em;
}


